@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
